
.DS_Store
SwiftUI Propel.xcodeproj/project.xcworkspace/xcuserdata/joshuabuchanan.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI Propel.xcodeproj/xcuserdata/joshuabuchanan.xcuserdatad/xcschemes/xcschememanagement.plist
